.button-class {
    background-color: rgb(255, 127, 219);
    border: none;
    color: black;
    padding: 18px;
    text-align: center;
    text-emphasis: none;
    display: inline-block;
    font-size: 22px;
    transition-duration: 0.5s;
    cursor: pointer;
    margin: 10px;
}
#loading {
    FONT-SIZE: 100px;
    position: fixed;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    animation: blinker 1s linear infinite;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
.loading-show{
   display: block; 
}
.loading-hide{
   display: none; 
}