.button-class {
    background-color: rgb(255, 127, 219);
    border: none;
    color: black;
    padding: 18px;
    text-align: center;
    text-emphasis: none;
    display: inline-block;
    font-size: 22px;
    transition-duration: 0.5s;
    cursor: pointer;
    margin: 10px;
}